class Product {
  
  constructor(name, price, category = "") {
    this._name = name
    this._price = price
    this._category = category
  }
  
  get price() {
    return `$${(this._price).toFixed(2)}`
  }
  
  set price(newPrice) {
    this._price = newPrice
  }
  
}

var product = new Product('jeans', 80, 'clothes')
product.price = 65